@model GBankAdminService.Domain.Entities.User
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["WarningMessage"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Warning!!! </strong> @TempData["WarningMessageContent"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}


<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.firstname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.firstname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.lastname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.lastname)
        </dd>
    </dl>
</div>
@{
    var parms = new Dictionary<String, String>
{ { "q", "" },
        {"clientid",@Model.ID.ToString() }
    };
}
<div> <h4><a asp-controller="Bills" asp-action="Search" asp-all-route-data="parms">Assign existing bill to client</a> </h4></div>
<div>
    <a asp-controller="Bills"
       asp-action="Create"
       asp-route-id="@Model.ID">Add new  bill to client</a>

</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Bill number
            </th>
            <th>
                Balance
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bills)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.billNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.balance)
                </td>

                <td>
                    <a asp-action="Details" asp-controller="Bills" asp-route-id="@item.ID">Details</a> |

                    <button type="button" billnumber="@item.billNumber.ToString()" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal" id=@item.ID onClick="clicked_button(this)"><span class="glyphicon glyphicon-trash" style="vertical-align:middle;margin-top: -5px"></span> Unassign from bill</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="margin-left:1px">Confirm Delete</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to unassign Bill: <b id="InvoiceID"></b> from Client?</p>
            </div>
            <div class="modal-footer">

                <form asp-controller="Clients" asp-action="unassign" method="get" class="form-inline" role="form">
                    <input type="hidden" id="deleterid" class="deleter_input" name="billid">
                    <input type="hidden" value="@Model.ID.ToString()" name="clientid">
                    <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash" style="vertical-align:middle;margin-top: -5px"></span> Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        var deleterinput = document.getElementById("deleterid");
        var modal_text = document.getElementById("InvoiceID");


        function clicked_button(clicked) {
            deleterinput.value = clicked.id;
            modal_text.innerHTML = clicked.getAttribute("billnumber");
        }
    </script>

}